/* regole generali */
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.centratore{
  width: 80%;
  margin: auto;
}


.intestazione, .firstbox{
  margin-bottom: 20px;

}

a{
  text-decoration: none;
  color: #A7A7A7;
}

a:hover{
  text-decoration: underline;
}

footer{
  margin-top: 100px;
}


/* regole header */
.intestazione{
  width: 100%;
  height: 100px;
}

.intestazione .logo{
  width: 15%;
  padding-right: 13px;
  border-right: 1px solid #E7E7E7;
  margin-bottom: 25px;
}

.list{
  display: inline-block;
  list-style-type: none;
  margin-right: 5px;
}


/* regole main */

/* sezione superiore */
.firstbox{
  width: 100%;
  height: 450px;
  background:linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.3)  ),
        url(img/banner.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 8px;
  margin-top: 40px;
}



.didascalia{
  width: 45%;
  position: absolute;
  left: 20px;
  bottom: 55px;
  color: white;
  font-size: 15px;
}

.bold{
  font-size: 25px;
  width: 100%;
}
.didascalia:hover{
  color: black;
}


/* sezione inferiore */
.secondbox{
  width: 100%;
  margin-top: 35px;
}


.secondtitle{
  width: 100%;
  height: 40px;
  margin-bottom: 30px;

}

.sottotit{
  font-size: 15px;
  color:#9B9B9B;
}

.row{
 width: 100%;
 margin-bottom: 10px;


}

 .column{
   height: 600px;
   float: left;
   margin-bottom: 10px;
   color:#9B9B9B;

 }

 .row::after{
  content: "";
  display: table;
  clear: both;
}
 .small{
   width: calc(25% - 5px);

 }
  /* classe centralizzata per caratteristiche comuni immagini colonne */
 .pic{
   width: 100%;
   height: 260px;
   border-radius: 8px;
   margin-bottom: 15px;
 }

 .one{
   background:linear-gradient(
         rgba(0, 0, 0, 0.2),
         rgba(0, 0, 0, 0.3)  ),
         url(img/img-1.jpg);
   background-size: cover;
   background-position:center;
 }

 .two{
   background:linear-gradient(
         rgba(0, 0, 0, 0.2),
         rgba(0, 0, 0, 0.3)  ),
         url(img/banner-2.jpg);
   background-size: cover;
   background-position:center;
 }

 .three{
   background:linear-gradient(
         rgba(0, 0, 0, 0.2),
         rgba(0, 0, 0, 0.3)  ),
         url(img/img-3.jpg);
   background-size: cover;
   background-position:center;

 }

 .columntitle{
   font-size: 15px;
   font-weight: bold;
   display: block;
   margin-bottom: 10px;
   color: #353535;

 }

 .big{
   width: calc(50% - 10px);
   margin:0 10px;
 }

 .leggibile:hover{
   font-size: 17px;
   color: black;
 }
/* regole footer */

.foot{
  width: 100%;
  height: 60px;
  text-align: center;
  margin-top: 35px;
}
.foot:hover{
  font-size: 30px;
}
#heart{
  color: red;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}
